.title-card {
  border: 1px solid var(--fourth-color);
  color: var(--fourth-color);
  overflow: hidden;
}

.title-card-header {
  background-color: var(--fourth-color);
}

.stats-container {
  height: 100%;
  padding: 1px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.stat-text {
  height: 100%;
  padding: 5px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  text-align: center;
  color: var(--fourth-color);
}

.number {
  position: absolute;

  font-size: 120px;
  color: rgba(229, 91, 60, 0.35);

  z-index: -1;
}

.no-stats {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-stats-icon {
  fill: var(--fourth-color);
  margin-bottom: 10px;
}

.no-stats-text {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .stats-container {
    justify-content: center;
    gap: 10px;
  }
}
