.title-card {
  padding: 10px;


  display: flex;
  flex-direction: column;
}

.title-card-header {
  height: auto;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-card-header > p {
  margin-right: 5px;
  color: var(--primary-color);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box {
  width: 18px;
  height: 18px;

  background-color: var(--primary-color);
}
